<div class="social-media">
  <a href="https://www.linkedin.com/company/avazura/" target="_blank" rel="noopener noreferrer">
    <fa-icon [icon]="faLinkedinIn" size="2xl" class="social-icon" [style.color]="iconColor"></fa-icon>
  </a>
  <a href="https://www.facebook.com/profile.php?id=61550355133018" target="_blank" rel="noopener noreferrer">
    <fa-icon [icon]="faFacebookF" size="2xl" class="social-icon" [style.color]="iconColor"></fa-icon>
  </a>
  <a href="https://www.instagram.com/avazura.official/" target="_blank" rel="noopener noreferrer">
    <fa-icon [icon]="faInstagramSquare" size="2xl" class="social-icon" [style.color]="iconColor"></fa-icon>
  </a>
  <a href="https://twitter.com/Avazura_offical" target="_blank" rel="noopener noreferrer">
    <fa-icon [icon]="faTwitter" size="2xl" class="social-icon" [style.color]="iconColor"></fa-icon>
  </a>
  <a href="https://www.youtube.com/@Avazura" target="_blank" rel="noopener noreferrer">
    <fa-icon [icon]="faYoutube" size="2xl" class="social-icon" [style.color]="iconColor"></fa-icon>
  </a>
  <a href="https://www.tiktok.com/@avazura.com" target="_blank" rel="noopener noreferrer">
    <fa-icon [icon]="faTiktok" size="2xl" class="social-icon" [style.color]="iconColor"></fa-icon>
  </a>
</div>
