<div class="background">
    <section>
      <div class="arrow-head-container-header">
        <div class="partnership-page-header-container">
          <app-openheader></app-openheader>
          <div class="partnership-page-intro">
            <div class="main-text">Partnerships</div>
          </div>
        </div>
        <div class="triangle left"></div>
        <div class="triangle right"></div>
      </div>
    </section>
    <section class="become-partner-text">
      <div class="main-text" style="margin-bottom: 2rem">Become Our Partner</div>
      <div class="small-text">
        All Upcoming Features Are Free For Our First Partners Before We Launch.
    </div>
    </section>
    <section>
      <div
        class="arrow-head-container"
        style="height: 30%; position: relative; z-index: 0; color: white"
      >
        <div class="triangle top-left"></div>
        <div class="triangle top-right"></div>
        <div class="meet-text" style="padding-top: 10rem;">Unlock Unlimited Success With A Partnership!</div>
        <div class="choose-us-rows">
          <div class="choose-us-tiles">
            <div class="choose-us-title">Master Your Market Reach</div>
            <div class="choose-us-description">Our Phenomenal Shopping Platform Corrals Your Customers for the Taking! No More Scattered Searching – We've Created the Ultimate Magnet to Attract and Keep Every Single One. Say Goodbye to the internet chaos and Hello to Avazura.</div>
          </div>
          <div class="choose-us-tiles">
            <div class="choose-us-title">Power up your customer's view</div>
            <div class="choose-us-description">With a dazzling array of filters like Brand, Price, Similarity, Material, and more – we've got it all. Our sleek design elevates convenience to an art form, offering a top-notch overview. And guess what? Your products? They're 3D-engagement ready. Go ahead and up the game!</div>
          </div>
          <div class="choose-us-tiles">
            <div class="choose-us-title">Data on steroids</div>
            <div class="choose-us-description">Our consumer behaviour data delivers trendsetting precision and colossal savings. Avazura's market vigilance guarantees the sharpest, most dependable intel for turbocharged marketing, optimized manufacturing, next-gen designs, and incomparable cross-selling mastery.Together We Level Up Your Sales Game!</div>
          </div>
        </div>
        <div class="choose-us-rows">
          <div class="choose-us-tiles">
            <div class="choose-us-title">Adaptive search with AI</div>
            <div class="choose-us-description">Supercharge your customers with our reverse image recognition tool. Your customers can apply all existing filters and categories to their searches.
                <br>
                <br>
                <strong>But How?</strong>
                <br>
                <br>
                Should a customer employ the reverse image recognition feature to identify a chair but desire to modify certain attributes, they can conveniently make such adjustments with all the filters. This dynamic adjustment of search parameters not only tailors the results to their preferences but also enhances the possibility of your product being displayed if it aligns with their refined search criteria.</div>
          </div>
          <div class="choose-us-tiles">
            <div class="choose-us-title">We upgrade your customers</div>
            <div class="choose-us-description"><strong>Imagine this</strong>
                <br>
                <br>
                Your Customer step into a cozy café adorned with inviting wooden furniture. Snap! Their smartphone captures the vibe And identifies ALL furniture, possibly yours too.
                <br>
                <br>
                <strong>Wait There Is More!</strong>
                <br>
                <br>
                our AI tool possesses the capacity to propose complimentary furniture pieces that harmonize with the design of the image. If your products align with the particular design aesthetic and atmosphere, they will once again appear to the customer.</div>
          </div>
        </div>
        <div class="choose-us-rows" style="padding-bottom: 4rem">
          <div class="choose-us-tiles">
            <div class="choose-us-title">Let’s Go!</div>
            <div class="choose-us-description">Come on board and be a part of a startup that is not just a company, but a collective dream. Together, we are rewriting the rules, pushing boundaries, and supporting one another every step of the way.<br>
              <br>Ready to launch your career journey with Avazura?<br>
              <br>Your story begins here.</div>
          </div>
        </div>
        <div class="meet-text-bottom">Contact us today and have a partnership with us tomorrow!</div>
        <div style="display: flex; justify-content:center; padding-bottom: 8rem;">
            <a class="partnership-page-contact-button" href="/contact">Contact</a>
        </div>
        <div class="triangle left"></div>
        <div class="triangle right"></div>
      </div>
    </section>
  
    <section style="padding-bottom: 10rem">
      <div class="newsletter-reminder">If you haven’t already</div>
      <div class="newsletter-reminder-below">
        Drop your email and help us to fuel the future
        
      </div>
      
      <app-email-form></app-email-form>
      <app-social-media [iconColor]="'black'"></app-social-media>
    </section>
  </div>
  
  <app-footer></app-footer>