<div class="background">
  <section>
    <div class="arrow-head-container-header">
    <div style="padding-bottom:10rem">
    <app-openheader></app-openheader>
    <div class="landingpage-intro">
      <div class="main-text">Meet your Danish furniture genie and get the product of your dreams</div>
      <div class="small-text">
        Champion Our Startup!<br />
        Are You Ready To Explore The New Way Of Shopping Furniture? Drop Your
        Email, Share Us With A Friend, And Secure Your Special Edition Of
        Avazura When Launched In 2024!
      </div>
    </div>
    <!-- <div class="newsletter-container">
        <input [value]="email" type="email" class="email-input" placeholder=" Enter your email">
        <button (click)="submitEmail()" class="submit-button">Submit</button>
    </div>  -->
    <app-email-form></app-email-form>
    <app-social-media [iconColor]="'white'"></app-social-media>
    </div>
    <div class="triangle left"></div>
    <div class="triangle right"></div>
    </div>
  </section>
  <section>
    <div class="text-partners">Meet Our Partners</div>
    <div class="partners-logos desktop">
      <img src="assets/images/logos/Flos.png" alt="Flos" />
      <img src="assets/images/logos/Interstudio.png" alt="Interstudio" />
      <img src="assets/images/logos/Vestergaard-Logo.png" alt="Vestergaard" />
      <img src="assets/images/logos/Ilva.png" alt="Ilva" />
      <img src="assets/images/logos/Montana.png" alt="Montana" />
      <img src="/assets/images/logos/JYSK_logo.png" alt="JYSK" />
    </div>


    <div class="carousel-container non-desktop">
      <div class="carousel-inner">
        <img src="assets/images/logos/Flos.png" alt="Flos" />
        <img src="assets/images/logos/Interstudio.png" alt="Interstudio" />
        <img src="assets/images/logos/Vestergaard-Logo.png" alt="Vestergaard" />
        <img src="assets/images/logos/Ilva.png" alt="Ilva" />
        <img src="assets/images/logos/Montana.png" alt="Montana" />
        <img src="/assets/images/logos/JYSK_logo.png" alt="JYSK" />
      </div>
      <div class="carousel-inner">
        <img src="assets/images/logos/Flos.png" alt="Flos" />
        <img src="assets/images/logos/Interstudio.png" alt="Interstudio" />
        <img src="assets/images/logos/Vestergaard-Logo.png" alt="Vestergaard" />
        <img src="assets/images/logos/Ilva.png" alt="Ilva" />
        <img src="assets/images/logos/Montana.png" alt="Montana" />
        <img src="/assets/images/logos/JYSK_logo.png" alt="JYSK" />
      </div>
    </div>
    
    
    <!-- <div class="partners-products">
      <img src="assets/images/products/Flos.png" alt="Flos-product" />
      <img src="assets/images/products/ILVA.png" alt="ILVA-product" />
      <img src="assets/images/products/JYSK.png" alt="JYSK-product" />
      <img src="assets/images/products/Montana.png" alt="Montana-product" />
    </div> -->
  </section>
  <section>
    <div class="arrow-head-container">
      <div class="triangle top-left"></div>
      <div class="triangle top-right"></div>
      <div class="landingpage-aboutus">
        <div class="main-text-aboutus" style="margin-bottom: 2rem">
          This Is What We Do
        </div>
        <div class="small-text-aboutus">
          A universe where every local furniture treasure is at your
          fingertips. Avazura merges an entire galaxy of furniture sellers and
          their stunning products into one cosmic hub. Say goodbye to lost hours
          of endless search and hello to a more fun shopping experience.
        </div>
        <div class="main-text-aboutus">This Is How It Works</div>
        <div class="small-text-aboutus-bold">Unveil Limitless Choices</div>
        <div class="small-text-aboutus">
          Dive into a sea of categories, filters, and moods, guiding you to the
          perfect piece that resonates with your style and preferences.
        </div>
        <div class="small-text-aboutus-bold">See it, Find it, Get it</div>
        <div class="small-text-aboutus">
          Experience the future with our state-of-the-art image recognition
          tool. Snap an image of your ideal design with your phone and witness
          its instant revelation – either as its real-world counterpart or the
          closest match based on your filtering preferences.
        </div>
        <!-- <div class="small-text-aboutus-bold">Tailor-made for You</div>
        <div class="small-text-aboutus">
          Our intuitive filters work like a dream, sculpting your desires into
          reality. Watch as your vision crystallizes, tailored to perfection.
        </div>
        <div class="small-text-aboutus">
          Embark on a journey where every room tells a story, every piece paints
          a picture. Subscribe now to be the first to journey through this
          enchanting world of furniture finesse! Avazura - Shopping Made
          Smarter, Quicker, and Much More Satisfying.
        </div> -->
        <div class="small-text-aboutus-bold">
          Every Click Leads To Comfort With All Our Filtering Options And
          Intelligent Search Engine.
        </div>
      </div>
      <div class="triangle left"></div>
      <div class="triangle right"></div>
    </div>
  </section>
  <div class="coming-soon-section">Coming Soon</div>
  <div class="product-page-image">
    <img
      src="assets/images/products/productPage.png"
      style="width: 70%"
      alt="frontApp"
    />
  </div>

  <div class="next-and-app-images">
    <div
      class="arrow-head-container"
      style="height: 30%; position: relative; z-index: 0"
    >
      <div class="triangle top-left"></div>
      <div class="triangle top-right"></div>
      <div class="what-is-next-text">What is up next? <span class="see-sketch-text">See our sketch</span></div>
      <div class="triangle left"></div>
      <div class="triangle right"></div>
    </div> 
    <div class="app-images">
      <img
        src="assets/images/app/frontApp.png"
        class="phone-images"
        alt="frontApp"
      />
      <img
        src="assets/images/app/createAccount.png"
        class="phone-images"
        alt="createAccount"
      />
      <img
        src="assets/images/app/chairPage.png"
        class="phone-images"
        alt="chairPage"
      />
    </div>
  </div>

  <section class="newsletter-reminder-section">
    <div class="newsletter-reminder">If you haven’t already</div>
    <div class="newsletter-reminder-below">
      Share us with a friend and drop your email to help us to fuel the future!
    </div>
    <app-email-form></app-email-form>
    <app-social-media [iconColor]="'black'"></app-social-media>
  </section>
</div>

<app-footer></app-footer>
