<div class="background">
  <section>
    <div class="arrow-head-container-header">
      <div class="about-page-header-container">
        <app-openheader></app-openheader>
        <div class="about-page-intro">
          <div class="main-text">About</div>
        </div>
      </div>
      <div class="triangle left"></div>
      <div class="triangle right"></div>
    </div>
  </section>
  <section class="main-text-section">
    <div class="main-text" style="margin-bottom: 2rem">Who Are We?</div>
    <div class="small-text">
      Within the heart of Avazura lies a dynamic team, comprised of both current
      and former students from the esteemed Technical University of Denmark
      (DTU), driven by an unwavering passion to build a world class shopping
      platform that goes beyond all existing standards.
    </div>
    <div class="small-text">
      Our shared enthusiasm transforms into the driving force behind our
      ambitions, propelling us towards the realization of great visions. As a
      steadfast startup, Avazura stands armed with great plans that are ready
      for a promising future.
    </div>
    <div class="small-text">
      The foundation of a successful business rest upon the shoulders of a
      strong and reliable team. At Avazura, we are dedicated to foster the best
      possible working environment where every voice finds value and where
      opinions and ideas are praised and evalulated. We want our team members to
      be passionate about their contributions which only comes if a great team
      paves the way.
    </div>
    <div class="small-text">
      If you seek to be a part of a fast growing startup, one already fortified
      by formidable partnerships, visionary investors, and eager customers ready
      to embrace our platform upon its launch, we invite you to reach out and
      join us on this exciting journey.
    </div>
  </section>
  <section>
    <div
      class="arrow-head-container"
      style="height: 30%; position: relative; z-index: 0; color: white"
    >
      <div class="triangle top-left"></div>
      <div class="triangle top-right"></div>
      <div class="meet-text">Meet Our Team</div>
      <div class="team-container">
        <div class="rectangles">
            <div class="image-container">
                <img src="assets/images/team/Oliver.png" alt="Your Image">
            </div>
            <div class="position">
                CEO & Co-Founder
            </div>
            <div class="team-name">
                Oliver Kjeldsen
            </div>
            <div class="team-email">
                ok@avazura.com
            </div>
            <div class="mini-social-media-container">
            <div class="icon-background">
                  <a href="https://www.linkedin.com/in/oliver-kjeldsen/" target="_blank" rel="noopener noreferrer">
                    <fa-icon [icon]="faLinkedinIn" size="2xl" class="social-icon"></fa-icon>
                  </a>
                </div>
                <div class="icon-background">
                  <a href="https://www.facebook.com/oliver.kjeldsen.5" target="_blank" rel="noopener noreferrer">
                    <fa-icon [icon]="faFacebookF" size="2xl" class="social-icon"></fa-icon>
                  </a>
                    </div>
                  <div class="icon-background">
                  <a href="https://twitter.com/Avazura_offical" target="_blank" rel="noopener noreferrer">
                    <fa-icon [icon]="faTwitter" size="2xl" class="social-icon"></fa-icon>
                  </a>
                </div>
            </div>
        </div>
        <div class="rectangles">
            <div class="image-container">
                <img src="assets/images/team/Filip.png" alt="Your Image">
            </div>
            <div class="position">
                CTO & Co-Founder
            </div>
            <div class="team-name">
                Filip Kasperkiewicz
            </div>
            <div class="team-email">
                fk@avazura.com
            </div>
            <div class="mini-social-media-container">
            <div class="icon-background">
                  <a href="https://www.linkedin.com/in/filip-kasperkiewicz-8a179318a/" target="_blank" rel="noopener noreferrer">
                    <fa-icon [icon]="faLinkedinIn" size="2xl" class="social-icon"></fa-icon>
                  </a>
                </div>
                <div class="icon-background">
                  <a href="https://www.facebook.com/filip.kasperkiewicz" target="_blank" rel="noopener noreferrer">
                    <fa-icon [icon]="faFacebookF" size="2xl" class="social-icon"></fa-icon>
                  </a>
                    </div>
                  <div class="icon-background">
                  <a href="https://twitter.com/Avazura_offical" target="_blank" rel="noopener noreferrer">
                    <fa-icon [icon]="faTwitter" size="2xl" class="social-icon"></fa-icon>
                  </a>
                </div>
            </div>
        </div>
        <div class="rectangles">
            <div class="image-container">
                <img src="assets/images/team/Deep.jpeg" alt="Your Image">
            </div>
            <div class="position">
                CPO & Co-Founder
            </div>
            <div class="team-name">
                Deep Dhillon
            </div>
            <div class="team-email">
                dd@avazura.com
            </div>
            <div class="mini-social-media-container">
            <div class="icon-background">
                  <a href="https://www.linkedin.com/in/deep-dhillon-65b388182/" target="_blank" rel="noopener noreferrer">
                    <fa-icon [icon]="faLinkedinIn" size="2xl" class="social-icon"></fa-icon>
                  </a>
                </div>
                <div class="icon-background">
                  <a href="https://www.facebook.com/Deep.Dhillon.Singh" target="_blank" rel="noopener noreferrer">
                    <fa-icon [icon]="faFacebookF" size="2xl" class="social-icon"></fa-icon>
                  </a>
                    </div>
                  <div class="icon-background">
                  <a href="https://twitter.com/Avazura_offical" target="_blank" rel="noopener noreferrer">
                    <fa-icon [icon]="faTwitter" size="2xl" class="social-icon"></fa-icon>
                  </a>
                </div>
            </div>
        </div>
        <div class="rectangles">
          <div class="image-container">
              <img src="assets/images/team/genericWhiteImage.png" alt="Your Image">
          </div>
          <div class="position">
              New Member
          </div>
          <div class="team-name">
              Maybe You
          </div>
          <button class="new-member-submit-button">Contact</button>
      </div>
      </div>
      <div class="triangle left"></div>
      <div class="triangle right"></div>
    </div>
  </section>

  <section style="padding-bottom: 10rem">
    <div class="newsletter-reminder">If you haven’t already</div>
    <div class="newsletter-reminder-below">
      Drop your email and help us to fuel the future
    </div>
    <app-email-form></app-email-form>
    <app-social-media [iconColor]="'black'"></app-social-media>
  </section>
</div>

<app-footer></app-footer>