<div class="background">
    <section>
      <div class="arrow-head-container-header">
        <div class="career-page-header-container">
          <app-openheader></app-openheader>
          <div class="career-page-intro">
            <div class="main-text">Career</div>
          </div>
        </div>
        <div class="triangle left"></div>
        <div class="triangle right"></div>
      </div>
    </section>
    <section class="main-text-container">
      <!-- <div class="main-text" style="margin-bottom: 2rem">Become Our New Team Member</div> -->
      <div class="main-text" style="margin-bottom: 2rem">Success</div>
      <div class="small-text">
        Are you ready to be part of a startup that's more than just a company? Welcome to Avazura, where we are crafting not only a world class shopping platform but also a culture of loyalty, psychological safety, and endless learning.<br>
        <br>
We are very interested to hear from Software Developers skilled in Artificial Intelligence, Machine Learning, Reverse Image Recognition, Augmented Reality, or alike.
      </div>
    </section>
    <section>
      <div
        class="arrow-head-container"
        style="height: 30%; position: relative; z-index: 0; color: white"
      >
        <div class="triangle top-left"></div>
        <div class="triangle top-right"></div>
        <div class="meet-text">Why Choose Avazura?</div>
        <div class="choose-us-rows">
          <div class="choose-us-tiles">
            <div class="choose-us-title">Loyalty</div>
            <div class="choose-us-description">We're not just colleagues; we are building something great together which requires great trust and loyalty beyond all. At Avazura, loyalty is in our DNA. We are dedicated to fostering an environment where your commitment is recognized and celebrated. Join us to experience the magic of working together towards a shared vision.</div>
          </div>
          <div class="choose-us-tiles">
            <div class="choose-us-title">Safe Space For Innovation</div>
            <div class="choose-us-description">Your ideas deserve a platform, and that's what we provide at Avazura. Our culture of psychological safety means your creativity can thrive without fear. Speak up, take risks, and watch your ideas transform into groundbreaking solutions.</div>
          </div>
          <div class="choose-us-tiles">
            <div class="choose-us-title">Improve, Learn, And Develop</div>
            <div class="choose-us-description">In the dynamic world of startups, learning is a way of life. At Avazura, we encourage you to embrace every opportunity for growth. From diving into new technologies to attending industry events, your thirst for knowledge will find its home here. </div>
          </div>
        </div>
        <div class="choose-us-rows">
          <div class="choose-us-tiles">
            <div class="choose-us-title">Shape The Future</div>
            <div class="choose-us-description">Join us on the forefront of innovation. Avazura is your chance to make a real impact. Be a part of a team that is disrupting industries and leaving a mark that goes beyond business.</div>
          </div>
          <div class="choose-us-tiles">
            <div class="choose-us-title">Diverse Perspectives But United Goals</div>
            <div class="choose-us-description">We celebrate diversity because we know that innovation thrives in a variety of voices. Your unique background and experiences will enrich our startup ecosystem, and together, we'll create something truly exceptional.</div>
          </div>
        </div>
        <div class="choose-us-rows" style="padding-bottom: 10rem">
          <div class="choose-us-tiles">
            <div class="choose-us-title">Let’s Go!</div>
            <div class="choose-us-description">Come on board and be a part of a startup that is not just a company, but a collective dream. Together, we are rewriting the rules, pushing boundaries, and supporting one another every step of the way.<br>
              <br>Ready to launch your career journey with Avazura?<br>
              <br>Your success begins here.</div>
              <div style="display: flex; justify-content:center">
                <a class="career-page-contact-button" href="/contact">Contact</a>
              </div>
          </div>
        </div>
        <div class="triangle left"></div>
        <div class="triangle right"></div>
      </div>
    </section>
  
    <section style="padding-bottom: 10rem">
      <div class="newsletter-reminder">If you haven’t already</div>
      <div class="newsletter-reminder-below">
        Drop your email and help us to fuel the future
        
      </div>
      
      <app-email-form></app-email-form>
      <app-social-media [iconColor]="'black'"></app-social-media>
    </section>
  </div>
  
  <app-footer></app-footer>