<div class="background">
    <section>
      <div class="arrow-head-container-header">
        <div class="contact-page-header-container">
          <app-openheader></app-openheader>
          <div class="contact-page-intro">
            <div class="main-text">Contact</div>
          </div>
        </div>
        <div class="triangle left"></div>
        <div class="triangle right"></div>
      </div>
    </section>
    <section class="main-text-container">
      <div class="main-text" style="margin-bottom: 2rem">Get In Touch, We Are Here To Help</div>
      <div class="small-text">
        We'd love to hear from you! Whether you have questions, feedback, or anything alike, we are here and ready to greet you. Feel free to reach out through any of the following channels:
      </div>
    </section>
    <section>
      <div
        class="arrow-head-container"
        style="height: 30%; position: relative; z-index: 0; color: white"
      >
        <div class="triangle top-left"></div>
        <div class="triangle top-right"></div>
        <div class="contact-text" style="padding-top: 10rem;">Contact Us On</div>
        <div class="contact-email">contact@avazura.com</div>
        <div class="contact-text">Or Get In Touch With One Of Our Team Members</div>

        <div class="team-container">
          <div class="rectangles">
              <div class="image-container">
                  <img src="assets/images/team/Oliver.png" alt="Your Image">
              </div>
              <div class="position">
                  CEO & Co-Founder
              </div>
              <div class="team-name">
                  Oliver Kjeldsen
              </div>
              <div class="team-email">
                  ok@avazura.com
              </div>
              <div class="mini-social-media-container">
              <div class="icon-background">
                    <a href="https://www.linkedin.com/in/oliver-kjeldsen/" target="_blank" rel="noopener noreferrer">
                      <fa-icon [icon]="faLinkedinIn" size="2xl" class="social-icon"></fa-icon>
                    </a>
                  </div>
                  <div class="icon-background">
                    <a href="https://www.facebook.com/oliver.kjeldsen.5" target="_blank" rel="noopener noreferrer">
                      <fa-icon [icon]="faFacebookF" size="2xl" class="social-icon"></fa-icon>
                    </a>
                      </div>
                    <div class="icon-background">
                    <a href="https://twitter.com/Avazura_offical" target="_blank" rel="noopener noreferrer">
                      <fa-icon [icon]="faTwitter" size="2xl" class="social-icon"></fa-icon>
                    </a>
                  </div>
              </div>
          </div>
          <div class="rectangles">
              <div class="image-container">
                  <img src="assets/images/team/Filip.png" alt="Your Image">
              </div>
              <div class="position">
                  CTO & Co-Founder
              </div>
              <div class="team-name">
                  Filip Kasperkiewicz
              </div>
              <div class="team-email">
                  fk@avazura.com
              </div>
              <div class="mini-social-media-container">
              <div class="icon-background">
                    <a href="https://www.linkedin.com/in/filip-kasperkiewicz-8a179318a/" target="_blank" rel="noopener noreferrer">
                      <fa-icon [icon]="faLinkedinIn" size="2xl" class="social-icon"></fa-icon>
                    </a>
                  </div>
                  <div class="icon-background">
                    <a href="https://www.facebook.com/filip.kasperkiewicz" target="_blank" rel="noopener noreferrer">
                      <fa-icon [icon]="faFacebookF" size="2xl" class="social-icon"></fa-icon>
                    </a>
                      </div>
                    <div class="icon-background">
                    <a href="https://twitter.com/Avazura_offical" target="_blank" rel="noopener noreferrer">
                      <fa-icon [icon]="faTwitter" size="2xl" class="social-icon"></fa-icon>
                    </a>
                  </div>
              </div>
          </div>
          <div class="rectangles">
              <div class="image-container">
                  <img src="assets/images/team/Deep.jpeg" alt="Your Image">
              </div>
              <div class="position">
                  CPO & Co-Founder
              </div>
              <div class="team-name">
                  Deep Dhillon
              </div>
              <div class="team-email">
                  dd@avazura.com
              </div>
              <div class="mini-social-media-container">
              <div class="icon-background">
                    <a href="https://www.linkedin.com/in/deep-dhillon-65b388182/" target="_blank" rel="noopener noreferrer">
                      <fa-icon [icon]="faLinkedinIn" size="2xl" class="social-icon"></fa-icon>
                    </a>
                  </div>
                  <div class="icon-background">
                    <a href="https://www.facebook.com/Deep.Dhillon.Singh" target="_blank" rel="noopener noreferrer">
                      <fa-icon [icon]="faFacebookF" size="2xl" class="social-icon"></fa-icon>
                    </a>
                      </div>
                    <div class="icon-background">
                    <a href="https://twitter.com/Avazura_offical" target="_blank" rel="noopener noreferrer">
                      <fa-icon [icon]="faTwitter" size="2xl" class="social-icon"></fa-icon>
                    </a>
                  </div>
              </div>
          </div>
        </div>
        <div class="triangle left"></div>
        <div class="triangle right"></div>
      </div>
    </section>
  
    <section style="padding-bottom: 10rem">
      <div class="newsletter-reminder">If you haven’t already</div>
      <div class="newsletter-reminder-below">
        Drop your email and help us to fuel the future
      </div>
      <app-email-form></app-email-form>
      <app-social-media [iconColor]="'black'"></app-social-media>
    </section>
  </div>
  
  <app-footer></app-footer>