<div class="footer">
    <div class="logo column center-column">
      <!-- <img src="logo.png" alt="Logo" width="80"> -->
        <!-- AVAZURA -->
        <img src="assets/images/logos/Top-Avazura.svg" alt="Avazura" />

    </div>
    <div class="column contact-info">
      <div class="column-heading"><strong> Contact Information</strong></div>
      <div class="contact-info"> Centrifugevej 374 <br>
            2800 Kongens Lyngby<br>
            Denmark
    </div>
      <div class="phone"><fa-icon [icon]="faPhone" size="lg" class="contact-icon"></fa-icon> (123) 456-7890</div>
      <div class="phone"><fa-icon [icon]="faEnvelope" size="lg" class="contact-icon"></fa-icon> contact@avazura.com</div>
    
    </div>
    <div class="column quick-links">
      <div class="column-heading"><strong>Quick Links</strong></div>
      <a class="quick-link" href="/">Home</a>
      <a class="quick-link" href="/about">About</a>
      <a class="quick-link" href="/partnership">Partnerships</a>
      <a class="quick-link" href="/career">Career</a>
      <a class="quick-link" href="/contact">Contact</a>
    </div>
    <div class="column subscribe">
      <div class="column-heading"><strong>Subscribe</strong></div>
      <!-- <input class="email-input" type="email" placeholder="Enter your email">
      <button class="subscribe-btn">&#8594;</button> -->
      <div class="custom-input">
        <input type="text"  [value]="email" class="input-field" placeholder="Email Address" style="color: gray;">
        <div class="arrow-circle">
          <div class="arrow">&#8594;</div>
        </div>
      </div>
      <div class="footer-follow-us-on">Follow Us On:</div>
      <div class="social-media">
        <a href="https://www.linkedin.com/company/avazura/" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faLinkedinIn" size="2xl" class="social-icon-footer"></fa-icon>
        </a>
        <a href="https://www.facebook.com/profile.php?id=61550355133018" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faFacebookF" size="2xl" class="social-icon-footer"></fa-icon>
        </a>
        <a href="https://www.instagram.com/avazura.official/" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faInstagramSquare" size="2xl" class="social-icon-footer"></fa-icon>
        </a>
        <a href="https://twitter.com/Avazura_offical" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faTwitter" size="2xl" class="social-icon-footer"></fa-icon>
        </a>
        <a href="https://www.youtube.com/@Avazura" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faYoutube" size="2xl" class="social-icon-footer"></fa-icon>
        </a>
        <a href="https://www.tiktok.com/@avazura.com" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faTiktok" size="2xl"class="social-icon-footer"></fa-icon>
      </a>
      </div>
    </div>
  </div>